* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
}

.section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
    background-color: #1e1e1e;
    color:whitesmoke;
    padding-top: 40px;
    padding-bottom: 40px;
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 20px;  
}

header {
    margin-bottom: 20px;
    text-align: center;  
}

#text1 {
    font-size: 40px;
    font-weight: 600;
    margin-bottom: 5px;
    text-align: center;
}

#image {
    width: auto;
    height: 300px; 
    border-radius: 50%;
    border: solid 3px;
    animation: rotate 0.1s normal infinite;
}

#image:hover {
    animation: normal fadeOut 1s;
    cursor: pointer;
    opacity: 0;
}

/* Animations!! yippe */

@keyframes fadeOut {
    from {
        opacity: 1
    }
    to {
        opacity: 0;
    }
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}